/vendor/
/node_modules/
/composer.lock
/auth.json

/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock

/phplint.cache
/.phpunit.result.cache
/behat.yml
/phpspec.yml
/phpunit.xml

/.idea